Options -Indexes

RewriteEngine on

RewriteRule ^$ app/controller/siteController.php?action=login [QSA,L]

RewriteRule ^home/search/?.* app/controller/siteController.php?action=search [QSA,L]

RewriteRule ^home/?$ app/controller/siteController.php?action=home [QSA,L]

RewriteRule ^selectlist/(.*)$ app/controller/siteController.php?action=selectlist&list=$1 [QSA,L]

RewriteRule ^loginProcess/?.* app/controller/siteController.php?action=loginProcess [QSA,L]

RewriteRule ^login/?$ app/controller/siteController.php?action=login [QSA,L]