Options -Indexes

RewriteEngine on

RewriteRule ^$ app/controller/siteController.php?action=login [QSA,L]

RewriteRule ^home/search/?.* app/controller/siteController.php?action=search [QSA,L]

RewriteRule ^home/?$ app/controller/siteController.php?action=home [QSA,L]

RewriteRule ^itemlisting/?$ app/controller/siteController.php?action=itemlisting [QSA,L]

RewriteRule ^sellitem/?$ app/controller/siteController.php?action=sellitem [QSA,L]

RewriteRule ^sellitem/submission?$ app/controller/siteController.php?action=submission [QSA,L]

RewriteRule ^loginProcess/?.* app/controller/siteController.php?action=loginProcess [QSA,L]

RewriteRule ^login/?$ app/controller/siteController.php?action=login [QSA,L]

RewriteRule ^mysales/?$ app/controller/siteController.php?action=mysales [QSA,L]

RewriteRule ^product/(\d+)/?$ app/controller/siteController.php?action=listitem&pid=$1 [QSA,L]

RewriteRule ^product/(\d+)/?$ app/controller/siteController.php?action=listitem&pid=$1 [QSA,L]

RewriteRule ^product/edit/?$ app/controller/siteController.php?action=edititem [QSA,L]

RewriteRule ^product/delete/?$ app/controller/siteController.php?action=deleteitem [QSA,L]

RewriteRule ^product/editfinished/?$ app/controller/siteController.php?action=processEdit [QSA,L]

RewriteRule ^product/processDelete/?$ app/controller/siteController.php?action=processDelete [QSA,L]
